.btn-col {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  height: fit-content;
  justify-content: right;
}

.create-contact-btn {
  width: fit-content;
  justify-content: right;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: green;
  color: white;
  border: none;
  border-radius: 2rem;
}

.create-contact-btn:hover {
  cursor: pointer;
  background-color: rgb(3, 141, 3);
}
