.create-modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.create-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 50%;
}

.create-modal-header {
  font-size: 2rem;
  color: rgb(91, 91, 91);
  font-weight: 600;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.create-modal-label {
  margin-top: 1rem;
  font-weight: 600;
  width: 100%;
  text-align: left;
}

.first-name-inp,
.last-name-inp,
.phone-number-inp {
  height: 2rem;
  font-size: 1.3rem;
  margin-top: 0.3rem;
  width: 100%;
}

.phone-number-inp > input {
  height: inherit;
}

.create-modal-btns {
  margin-top: 2rem;
}

.close-create {
  border: 1px solid black;
  font-size: 1rem;
  color: black;
  background: white;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
}

.close-create:hover {
  background-color: rgb(251, 51, 51);
  cursor: pointer;
  color: white;
}

.create-btn {
  border: none;
  font-size: 1rem;
  color: white;
  background: royalblue;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
}

.create-btn:hover {
  background-color: rgb(93, 127, 228);
  cursor: pointer;
}

.create-btn:disabled {
  background-color: rgba(93, 127, 228, 0.44);
  cursor: wait;
}

@media screen and (max-width: 768px) {
  .create-modal-content,
  .create-form {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .create-modal-content,
  .create-form {
    width: 90%;
  }

  .create-modal {
    padding-top: 25%;
  }

  .create-modal-header {
    font-size: 1.5rem;
  }
}
